<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <span>
        <%= link_to "follow", user_following_path(@user.id) %>&nbsp;
        <%= link_to "follower", user_followers_path(@user.id) %>
      </span>
      <dl>
        <dt>メールアドレス</dt><dd><%= @user.email %></dd>
        <dt>プロフィール</dt><dd><%= @user.profile %></dd>
        <dt>場所</dt><dd><%= @user.place %></dd>
        <dt>投稿数</dt><dd><%= pluralize(@user.microposts.count, "micropost") %></dd>
      </dl>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
        <%= paginate @microposts %>
      </ol>
    <% end %>
  </div>
</div>