<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <dl>
        <dt>メールアドレス</dt><dd><%= @user.email %></dd>
        <dt>プロフィール</dt><dd><%= @user.profile %></dd>
        <dt>場所</dt><dd><%= @user.place %></dd>
      </dl>
    </section>
  </aside>
  <div class="col-md-8" style="display:none;">
  TODO
  </div>
</div>